body {
  padding-top: 60px;
  background-image: url("../img/blue_bg.png");
  background-repeat: no-repeat;
  background-position: auto;
  background-size: cover;
  color: #fff;
}
.starter-template {
  padding: 50px 15px;
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

textarea.skinny {
  height: 100px;
}

select {
	color: #000;
}

.btn-ciena-yes {
    background-color: transparent;
    transition: all .5s;
    color: #fff;
    border-width: 2px;
    border-color: #FFF;
}

.btn-ciena-yes:hover {
    color: #fff;
    background-color: #5cb85c;
}

.btn-ciena-no {
    background-color: transparent;
    transition: all .5s;
    color: #fff;
    border-width: 2px;
    border-color: #FFF;
}

.btn-ciena-no:hover {
    color: #fff;
    background-color: #f0ad4e;
}

#extra_info {
	visibility: hidden;
}


